<p id="notice"><%= notice %></p>

<p>
  <strong>Time s:</strong>
  <%= @access_log_tool.time_s %>
</p>

<p>
  <strong>Time e:</strong>
  <%= @access_log_tool.time_e %>
</p>

<p>
  <strong>Status:</strong>
  <%= @access_log_tool.status %>
</p>

<p>
  <strong>Status comment:</strong>
  <%= @access_log_tool.status_comment %>
</p>

<p>
  <strong>Status comment2:</strong>
  <%= @access_log_tool.status_comment2 %>
</p>

<p>
  <strong>Status comment3:</strong>
  <%= @access_log_tool.status_comment3 %>
</p>

<p>
  <strong>Remote addr:</strong>
  <%= @access_log_tool.remote_addr %>
</p>

<p>
  <strong>Useragent:</strong>
  <%= @access_log_tool.useragent %>
</p>

<p>
  <strong>Program name:</strong>
  <%= @access_log_tool.program_name %>
</p>

<p>
  <strong>Input1:</strong>
  <%= @access_log_tool.input1 %>
</p>

<p>
  <strong>Input2:</strong>
  <%= @access_log_tool.input2 %>
</p>

<p>
  <strong>Input3:</strong>
  <%= @access_log_tool.input3 %>
</p>

<p>
  <strong>Input4:</strong>
  <%= @access_log_tool.input4 %>
</p>

<p>
  <strong>Input5:</strong>
  <%= @access_log_tool.input5 %>
</p>

<%= link_to 'Edit', edit_access_log_tool_path(@access_log_tool) %> |
<%= link_to 'Back', access_log_tools_path %>
